.card {
	background-color: #424242;
	display: flex;
	padding: 16px;
	margin-bottom: 16px;
	border-radius: 8px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.card:hover {
	cursor: pointer;
}

.card__image {
	width: 30%;
	border-radius: 8px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.card-text {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 8px;
	padding-left: 16px;
}

.card-text__title {
	font-size: 24px;
	font-weight: 500;
	font-family: 'Roboto';
}

.card-text__summary {
	flex: 1;
	font-family: 'Open Sans';
}

@media only screen and (max-device-width: 480px) {
	.card {
		flex-direction: column;
		margin-left: 16px;
		margin-right: 16px;
	}

	.card__image {
		width: 100%;
		margin-bottom: 16px;
	}
}
