.card {
	width: 768px;
	display: flex;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}

.card:hover {
	cursor: pointer;
}

.card__image {
	width: 30%;
	border-radius: 8px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}

.card-text {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 8px;
	padding-left: 16px;
}

.card-text__title {
	font-size: 24px;
	font-weight: bold;
}

.card-text__summary {
	flex: 1;
}
