.article-filter {
	width: 768px;
	display: flex;
	flex-direction: column;
}

.article-filter__input {
	background: #424242;
	border: none;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	color: whitesmoke;
	font-family: 'Roboto';
	margin-bottom: 16px;
	padding: 16px;
}

.article-filter__input--searchbox {
	font-size: 16px;
}

.article-filter__input--source-select {
	/* Hide scrollbar on Firefox */
	scrollbar-width: none;
}

/* Hide scrollbar on Chrome/Safari */
.article-filter__input--source-select::-webkit-scrollbar {
	display: none;
}

.article-filter__source-option:checked {
	background: linear-gradient(0deg, #616161 0%, #616161 100%);
}