.app {
	align-items: center;
	background-color: #616161;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto';
}

.app__title {
	font-size: 64px;
	margin-bottom: 16px;
	text-align: center;
	width: 100%;
	background-color: #212121;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.app__footer {
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
}

.app__footer__link {
	color: inherit;
}
