.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app__title {
	font-size: 64px;
	margin-bottom: 16px;
}

.app__article-list {
	display: flex;
	flex-direction: column;
	width: 768px;
	padding-left: 16px;
	padding-right: 16px;
}

@media only screen and (max-device-width: 480px) {
	.app__article-list {
		width: 100%;
	}
}
